* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
    font-family: sans-serif;
    background-color: rgb(243, 244, 246);
}

.ramecek {
    background: white;
    border-radius: 8px;
}

.jedna h1 {
    color: rgb(79, 70, 229);
    font-size: 30px;
}

.jedna .a {
    color: rgb(31, 41, 55);
    font-size: 20px;
}

.q {
    padding-bottom: 12px;
}

.w {
    padding-bottom: 12px;
}

.jedna {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.jedna img {
    border-radius: 50%;
    border: solid rgb(79, 70, 229) 4px;
}

.jedna .b {
    margin-bottom: 25px;
    color: rgb(98, 99, 101);
}

.dva {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: rgb(99, 102, 241);
}

.pet .ab, .ba {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: rgb(99, 102, 241);
    font-size: 18px;
}

.tri p {
    display: flex;
    justify-content: center;
    border: 25px;
    padding: 30px;

}

.ctyri img {
    display: flex;
    align-items: center;
}

.ctyri .v {
    margin-bottom: 15px;
}